body {
  font: normal 16px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: 'Simonetta', serif;
}
h1 {
  font-size: 40px;
  font-weight: normal;
}
h2 {
  font-size: 32px;
}
#pageWrapper {
  margin: 48px auto;
  width: 90%;
  background: #fff;
}
#header {
  height: 80px;
  background: #d7eef4;
}
#nav {
  margin: 0 auto;
  position: relative;
}
#nav li {
  display: inline-block;
  width: 19.375%;
  margin: 0 2.5%;
}
#body {
  float: left;
  margin: 0 auto 6%;
  width: 57.1875%;
  padding: 2.5%;
}
#main>article {
  padding: 0.8em 5%;
  margin: 0 auto;
}
.section {
  padding: 0 7.1875%;
}
#sidebar {
  float: right;
  width: 26.25%;
  padding: 2.5%;
  overflow: hidden;
}
#footer {
  clear: both;
}
.resume_section {
  padding-bottom: 16px;
}
