// Color Variables
// Color numbers come from color template, different shades
@medium_blue1: #047b9c;
@medium_blue4: #4dbede;

@dark_blue1: #1230ab;
@dark_blue3: #08207f;
@light_orange4: #fecb54;
@light_orange5: #fedf98;

@blue: #87cbde;
@light-blue: #d7eef4;
@gold: #fcc000;
@grey: #dddddd;

// Font Sizes
@one-em: 16px; // Generally 16px

// Document Width: raw numbers
@full-px: 960px;
@main-px: 597px;
@sidebar-px: 300px;
@grid-px: 69px;
@gutter-px: 48px;

// Document Percentages
@full-width: 90%; // rather arbitrary there, but need something
@main-width: percentage(@main-px / @full-px) - @gutter-width;
@sidebar-width: percentage(@sidebar-px / @full-px) - @gutter-width;
@grid-width: percentage(@grid-px / @full-px);
@gutter-width: percentage(@gutter-px / @full-px);
@half-gutter-width: @gutter-width/2;

/* Functions */
.box-shadow(@x, @y, @blur, @color) {
  box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
}
.border-radius(@x=10px,@y=10px) {
  border-radius: @x @y;
  -moz-border-radius: @x @y;
  -webkit-border-radius: @x @y;
}
.smaller-text(@small=90%) {
  font-size: @small;
  color: @darker-grey;
}
.transition(@duration=1s) {
  transition: all @duration ease;
  -webkit-transition: all @duration ease;
  -moz-transition: all @duration ease;
  -o-transition: all @duration ease;
}

body {
    font: normal @one-em Helvetica, Arial, sans-serif;
    background: #eee;
    padding: 0;
    margin: 0;
}

h1,h2,h3 {
	font-family: 'Simonetta', serif;
}

h1 {
	font-size: @one-em*5;
	font-weight: normal;
}
h2 {
	font-size: @one-em*2;
}
a {
	color: @gold;
}
a:hover {
	color: darken(@gold,10%);
	.transition(.25s);
}
.zTabs a:hover {
	.transition(0);
}

#pageWrapper {
	margin: @gutter-px auto;
	width: @full-width;
	background: #fff;
}

#header {
	height: @one-em*7;
	background: @light-blue;
}

#nav {
	margin: 0 auto @one-em auto;
	position: relative;
}
#nav li {
	display: inline-block;
	width: (@grid-width*2)+@gutter-width;
	margin: 0 @gutter-width/2;
}

#main {
	padding: 0 @one-em;
	min-height: 600px;
}
#body {
	float: left;
	margin: 0 auto 6%;
	width: @main-width; 
	padding: @half-gutter-width;
}
#main>article {
	padding: 0.8em @gutter-width;
	margin: 0 auto;
}
.section {
	padding: 0 @grid-width;
}

#sidebar {
	float: right;
	width: @sidebar-width;
	padding: @half-gutter-width;
	overflow: hidden;
}

#footer {
	clear: both;
}

/* Buttons */
.button {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  font-size: 100%;
  background: @blue;
  color: #ffffff;
  border: 2px solid lighten(@blue,20%);
  .box-shadow(1px,1px,3px,@grey);
  .border-radius;
  .transition;
  cursor: pointer;  
}
.button a {
	color: #ffffff;
}
.button:hover {
  background: darken(@blue,10%);
  .transition;
}

/* Resume-specific */
.resume_section {
	padding-bottom: @one-em;
}
.company {

}
.years {

}
.position {

}
.download-file {
	display: inline-block;
	height: 36px;
	padding-left: 36px;
	vertical-align: middle;
}
.pdf {
	background: url(../images/pdf-imate.png) left center no-repeat;
	.download-file;
}
.txt {
	background: url(../images/text-doc.png) left center no-repeat;
	.download-file;
}