<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/site.min.css -->
    <link rel="stylesheet" href="styles/site.css">
    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    <!-- endbuild -->

    <script src="components/jquery/jquery.min.js"></script>
  </head>
  <body ng-app='kategreenApp' ng-controller="MainCtrl as main">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="body-container">
      <div class="container">
        <!-- <header>
          <h1 class="title">
            kate green
          </h1>
        </header> -->
        <nav class="navbar" role="navigation" ng-controller="TabsCtrl">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="nav">
              <li ng-repeat="tab in tabs" heading="{{tab.title}}" ng-class="getClass(tab.route)"><a ng-href="#{{tab.route}}">{{tab.title}}</a></li>
            </ul>
          </div>
        </nav>

        <div class="content">
          <div class="main" ng-view></div>
          <div class="rail">
            <button href="#" ng-hide="main.loginObj.user" ng-click="main.loginObj.$login('twitter')">Login</button>
            <span ng-show="main.loginObj.user">
              {{main.loginObj.user.name}} | <a href="#" ng-click="main.loginObj.$logout()">Logout</a>
            </span>

            <h3>Stuff</h3>
          </div>
        </div>

        <footer>
          <div class="footer">
            <p class="text-muted">Something</p>
          </div>
        </footer>
      </div>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js"></script>
    <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.2.0/firebase-simple-login.js'></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/tabs.js"></script>
    <script src="scripts/controllers/resume.js"></script>
    <script src="scripts/controllers/portfolio.js"></script>
    <script src="scripts/controllers/blogAdmin.js"></script>
    <script src="scripts/directives/resume.js"></script>
    <script src="scripts/directives/post.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
