<div class="main">
	<h2>Ideas</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at elementum nunc. Aenean turpis nisl, pellentesque quis est condimentum, gravida posuere risus. Duis blandit pretium magna, volutpat fringilla diam euismod consequat. Donec pharetra velit orci, nec tincidunt sapien aliquam a. Morbi tristique tortor ac libero porta lacinia. Donec ac tincidunt nisl. Aenean auctor vehicula neque, ut aliquet ante suscipit et. Maecenas consequat risus suscipit, pretium eros sed, porttitor lectus. Phasellus eget justo diam. Aenean ligula libero, eleifend ac augue eu, aliquam pharetra ligula. Donec a dui at arcu placerat porta. Integer sed turpis mauris. Donec aliquam arcu id sem feugiat rhoncus. Integer vitae pellentesque ante, eget lobortis nisi. Sed commodo quam libero, ut eleifend purus adipiscing vel. Nulla tincidunt auctor augue consequat imperdiet.</p>

	<p>Donec pharetra a lectus eu semper. Vestibulum consequat dapibus vestibulum. Cras est orci, accumsan ut tristique non, porttitor pulvinar eros. Nunc placerat massa in enim suscipit, sed egestas eros laoreet. Quisque gravida purus vitae urna fermentum pretium. Sed vel diam non massa adipiscing consectetur. Vestibulum sed mi sit amet velit eleifend fringilla eu ut odio. Cras varius libero nec quam volutpat scelerisque. Ut semper turpis at velit facilisis tempus. Nunc interdum nibh vel semper tincidunt.</p>
</div>

<div class="rail">
	<h3>Stuff</h3>
</div>